<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="connectionString" value="Server=DESKTOP-P6FMEQ4;Database=Laborator_01;Integrated Security=true;TrustServerCertificate=true;"/>
		<add key="parent" value="Users"/>
		<add key="parentSelect" value="SELECT * FROM Users"/>
		<add key="parentParams" value="cod_companie,userEmail,userPassword"/>
		<add key="parentParamsTypes" value="int,string,string"/>
		<add key="child" value="Profiles"/>
		<add key="childSelect" value="SELECT * FROM Profiles"/>
		<add key="childParams" value="cod_concurs,cod_companie,profileName"/>
		<add key="childParamsTypes" value="int,int,string"/>
		<add key="deleteCommand" value="DELETE FROM Profiles WHERE cod_concurs = @cod_concurs"/>
		<add key="updateCommand" value="UPDATE Profiles SET profileName=@profileName WHERE cod_concurs=@cod_concurs"/>
		<add key="insertCommand" value="INSERT INTO Profiles(cod_companie, profileName) VALUES (@cod_companie, @profileName)"/>
	</appSettings>

</configuration>
