.invalid {
    border: 1px solid red;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.form-control {
    padding: 2px;
}